body * {
    box-sizing: border-box;
}

body {
    background-image: url('images/space-wallpaper.jpg');
    background-position: center;
}

main {
    margin: 0 auto;
    width: 75%;
}

form {
    margin-top: 20px;
    border: 1px black solid;
    padding: 20px;
    background-color: white;
}

img {
    width: 100%;
}

header {
    text-align: center;
    color:white;
}

h2 {
    margin-top: 0;
}

h3 {
    text-align: center;
}

.right-button {
    text-align: right;
}

#start-quiz {
    text-align: center;
}

#welcome-image {
    margin-bottom: 20px;
}

#end-screen {
    text-align: center;
}

#questions {
 
}

#answer {
    
}


@media only screen and (min-width: 504px) {
    img {
        max-height: 400px;
        object-fit: cover;
    }
}

@media only screen and (min-width: 1080px) {
    body {
        padding-top: 50px;
    }
    main {
        width: 50%;
    }
}